<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="close()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </a>
    <a mat-list-item routerLink="/profile" (click)="close()">
        <mat-icon>accountcircle</mat-icon>
        <span>Profile</span>
    </a>
    <a mat-list-item routerLink="/cart" (click)="close()">
        <mat-icon>shoppingcart</mat-icon>
        <span>Cart</span>
    </a>
    <a mat-list-item routerLink="/sign-up" (click)="close()">
        <mat-icon>accountcircle</mat-icon>
        <span>Login</span>
    </a>
    <a mat-list-item routerLink="/order" (click)="close()">
        <mat-icon>shoppingcart Checkout</mat-icon>
        <span>Order</span>
    </a>
</mat-nav-list>