<div id="books-site">
    <button (click)="onFantasy()">Fantasy</button><button (click)="onHistory()">History</button>
    <div>
        <div class="book-list">
            <mat-card class="book" *ngFor="let book of books">
                <mat-card-content>
                    <img mat-card-image src="{{book.img}}" id="image">
                    <br>
                    <mat-card-footer id="desc">{{book.description}}</mat-card-footer>
                    <div id="down">
                        <mat-card-footer id="price">{{book.price}} Ft</mat-card-footer>
                        <button (click)="addToCart()" >Buy</button>
                        
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
