button{
    margin: 5px;
}

body{
    background-color: gray;
}

table,th,td{
    border-collapse: collapse;
    border: 2px solid rgb(96, 91, 91);
    margin: 5vh;
}

form{
    text-align: center;
}

