<h2>Here you can manage the books on the shop!</h2>

<div mat-dialog-title id="form">
    <h1>Book form</h1>
<form [formGroup]="editForm" (ngSubmit)="create()">
<div mat-dialog-content>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Image</mat-label>
            <input matInput type="text" formControlName="img">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
                <mat-select #selectType formControlName="type">
                    <mat-option *ngFor="let t of types" [value]="t">{{t}}</mat-option>
                </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="description"></textarea>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Save</button>
</div>
</form>
</div>
<table>
    <thead>
        <th>Title</th>
        <th>Image</th>
        <th>Type</th>
        <th>Price</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor="let i of bookList">
            <td>{{i.title}}</td>
            <td>{{i.img}}</td>
            <td>{{i.type}}</td>
            <td>{{i.price}}</td>
            <td>{{i.description}}</td>
            <td><button mat-raised-button color="basic" (click)="update()">Edit</button></td>
            <td><button mat-raised-button color="warn" (click)="deleteBook(i)">Delete</button></td>
        </tr>
    </tbody>
</table>